<a href="https://colab.research.google.com/github/mobarak91/Python-Django/blob/main/practice_w3%20schools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print hello

In [1]:
print("I am Md. Mobarak Hossain")

I am Md. Mobarak Hossain

indentation

In [2]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Variable

In [3]:
x=5
y="I am a Student"
z=10.5
print(x)
print(y)
print(z)

5
I am a Student
10.5

data type

In [4]:
x=5
y="I am a Student"
z=10.5
print(type(x))
print(type(y))
print(type(z))

#Casting
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

<class 'int'>
<class 'str'>
<class 'float'>
3
3
3.0

multi word variable name

In [ ]:
#Camel Case(Each word,except the first starts with capital letter)

myVariableName="Md. Mobarak Hossain"

#Pascal Case(Each word starts with a capital letter)

MyVariableName="Md. Mobarak Hossain"

#Snake Case(Each word is separated by an underscore character)

my_variable_name="Md. Mobarak Hossain"

multiple value assign

In [5]:
x,y,z="Mobarak","Shafiul","Masum"
print(x)
print(y)
print(z)

Mobarak
Shafiul
Masum

one value to multiple variable

In [8]:
x=y=z=5
sum=x+y+z
print(sum)

15

Unpack a list

In [9]:
country=["Bangladesh","India","Pakistan"]
x,y,z=country
print(x)
print(y)
print(z)

Bangladesh
India
Pakistan

print multiple variable

In [10]:
x=10
y="Mobarak"
z=10.5
print(x,y,z)

10 Mobarak 10.5